.Button {
  background-color: rgb(132, 0, 255);
  border: none;
  border-radius: 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  display: block;
  width: 25%;
  transition: all .2s;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: rgba(132, 0, 255, 0.3);
}

@media only screen and (max-width: 34em) {
  .Button {
    width: 50%;
  }
}

/* .Success {
  color: #5C9210;
} */

/* .Danger {
  color: #944317;
} */