.Input {
  width: 50%;
  box-sizing: border-box;
  margin: 2rem 0;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: white;
  font: inherit;
  padding: 1rem 1.5rem;
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

.InputElement:focus {
  outline: none;
  background-color: rgba(55, 0, 128, 0.2);
}

.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}

@media only screen and (max-width: 34em) {
  .Input {
    width: 100%;
  }
}
